<!-- employee popup button -->
<button type="button" data-bind="event: {click: addEmployeePopup}">
    <span data-bind="i18n: 'Add New Employee'"></span>
</button>
<!-- employee popup form -->
<br>
<div id="employee-form-popup" style="display: none;">
    <form data-role="save" data-bind="submit:save">
        <input type="hidden" name="entity_id">
        <div class="fieldset _mainForm" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
            <div>
                <div class="field field-department required">
                    <label class="label" for="department"><span data-bind="i18n: 'Department'"></span></label>
                    <div class="control">
                        <select class="input-text" id="department" name="department" data-validate="{required:true}" >
                            <option value="">Choose department</option>
                            <option value="IT">IT</option>
                            <option value="HR">HR</option>
                            <option value="Support">Support</option>
                            <option value="Marketing">Marketing</option>
                        </select>
                    </div>
                </div>
                <div class="field field-name required">
                    <label class="label" for="full_name"><span data-bind="i18n: 'Full Name'"></span></label>
                    <div class="control">
                        <input type="text"
                            class="input-text"
                            id="full_name"
                            name="full_name"
                            data-validate="{required:true}" />
                    </div>
                </div>
                <div class="field field-position required">
                    <label class="label" for="position"><span data-bind="i18n: 'Position'"></span></label>
                    <div class="control">
                        <select class="input-text" id="position" name="position" data-validate="{required:true}" >
                            <option value="">Choose position</option>
                            <option value="Intern">Intern</option>
                            <option value="Fresher">Fresher</option>
                            <option value="Junior">Junior</option>
                            <option value="senior">senior</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="field field-email required">
                    <label class="label" for="email"><span data-bind="i18n: 'Email Address'"></span></label>
                    <div class="control">
                        <input type="email"
                            class="input-text"
                            id="email"
                            name="email"
                            data-validate="{required:true}" />
                    </div>
                </div>
                <div class="field field-dob required">
                    <label for="dob" class="label"><span data-bind="i18n: 'Dob'"></span></label>
                    <div class="control">
                        <input type="text"
                            class="input-text"
                            id="dob"
                            name="dob"
                            data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field field-salary required">
                    <label for="salary" class="label"><span data-bind="i18n: 'Salary'"></span></label>
                    <div class="control">
                        <input type="number"
                                class="input-text"
                                id="salary"
                                name="salary"
                                data-validate="{required:true}"/>
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="__save"><span data-bind="i18n: 'Save'"></span></button>
                </div>
            </div>
        </div>
    </form>
</div>

<br>

<table>
    <thead>
        <th>ID</th>
        <th>Department</th>
        <th>Full Name</th>
        <th>Position</th>
        <th>EmailID</th>
        <th>Dob</th>
        <th>salary</th>
        <th>Action</th>
    </thead>
    <!-- ko if: totalEmployee().length > 0 -->
    <tbody data-bind="foreach: totalEmployee()">
        <tr>
            <td data-bind="text: entity_id"></td>
            <td data-bind="text: department"></td>
            <td data-bind="text: full_name"></td>
            <td data-bind="text: position"></td>
            <td data-bind="text: email"></td>
            <td data-bind="text: dob"></td>
            <td data-bind="text: salary"></td>
            <td>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="button" class = "_edit" data-bind="click : $parent.editEmployee.bind($parent)"><span data-bind="i18n: 'Edit'"></span></button>
                    </div>
                    <div class="secondary">
                        <button type="buttom" class = "_delete" data-bind="click : $parent.remove.bind($parent)"><span data-bind="i18n: 'Move'"></span></button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <!-- /ko -->
</table>
<!-- pagination -->
