<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="knock1" frontName="knock1">
            <module name="Thai_Knockout1" />
        </route>
    </router>
</config>
